

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.sign-up-button {
	margin-top: 1em;
}

.call-to-action {
	position: relative;
}

.wrapper-cta {
	position: absolute;
	top: 0px;
	width: 100%;
}

.header-text {
	text-align: center;
}

.gallery-spacer {
	height: 30px;
}

.thank-you-message {
	display: none;
	color: #2d6ca2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 0.5em 1em 0.5em 1em;
	border: 2px solid #2d6ca2;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
}

h1, h2, h3, h4, label, input, textarea, .btn-primary {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: normal;
}
