

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.call-to-action {
	position: relative;
}

.wrapper-cta {
	position: absolute;
	top: 0px;
	width: 100%;
}

.gallery {
	margin-bottom: 30px;
}

p {
	font-family: 'Roboto', sans-serif; 
	font-weight: 300;
	font-style: italic;
}

h1, h2, label, input, .btn-primary {
	font-family: 'Roboto', sans-serif; 
	font-weight: 500;
	font-style: normal;
}














