

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.call-to-action {
	position: relative;
}

.wrapper-cta {
	position: absolute;
	top: 0px;
	width: 100%;
}















